extends layout.pug

block head
  title About Me - Jobbel.nl
  link(rel = "stylesheet" href = "/css/about.css")

block scripts
  script(src = "/js/about.js")

block content
  section
    h1 Hello, I am Job
    p I am a Dutch high school student who loves everything that has to do with computers, from electronics and hardware to compilers and web development and anything in between. My favorite programming languages are Javascript and C. I code stuff mostly for self-entertainment, but once in a while my friend Arne and I get to build a website for a real customer. At the right-hand side of this page you can see a picture of me. 
  section
    h1 Quality not guaranteed
    p I started programming due to my uncle. He had a spare Joomla website and I was allowed to use it. From there, I started finding out about HTML, and later about CSS and it continued like that. School didn't provide any programming lessons whatsoever, so I learnt everything from online resources and my friends. Because I worked with HTML and CSS already, Javascript was inevitable to learn. Javascript was the first "real" programming language I learnt, and using the knowledge I gained from learning Javascript, I started experimenting with other langauges among which C, Assembly and Haskell.
  section
    h1 Curiosity
    p I am currently doing my computer science bachelor, and I'd love to do a master after that. I am uncertain what i want to do later as a profession, but I'll have enough time to figure that out.
    p There are also some projects I still want to do, like building my own 16-bit cpu and completing a fully functional language compiler.
