extends layout.pug

block head
  link(rel = "stylesheet" href = "/css/about.css")

block scripts
  script(src = "/js/about.js")

block content
  .buttons
    #button-1.active 
    #button-2 
    #button-3 
  .content
    article
      section
        h1(lang = "en") Hello, I am Job
        p(lang = "en")
          | I am a Dutch university student who loves everything that has to do with computers, from electronics and hardware to compilers and web development and anything in between. I code stuff mostly for self-entertainment, but once in a while my friend 
          a(href = "//arnweb.nl") Arne
          |  and I get to build a website for a real customer. At the right-hand side of this page you can see a picture of me.
        h1(lang = "nl") Hallo, ik ben Job
        p(lang = "nl")
          | Ik ben een eerstejaars universiteitisstudent die houdt van alles wat met computers te maken heeft: van electronica met chips tot compilers en websites maken. Voor het grootste gedeelte programmeer ik als hobby, maar soms werken mijn vriend 
          a(href = "//arnweb.nl") Arne
          |  en ik samen aan een groter en serieuzer project voor soms wel eens een echte klant. Rechts zie je een foto van mij.
      img(src = "/images/me.png")
    article
      section
        h1(lang = "en") Quality not guaranteed
        p(lang = "en") I started with programming when I entered high school. I already had some experience with HTML and over the years I learned CSS and Javascript. With this basic knowledge of programming, I wanted to discover different fields within computer science, like electronics, theortical computer science and other disciplines. Currently, I like working in programming language theory with languages like Haskell and C++.
        h1(lang = "nl") Kwaliteit niet gegarandeerd
        p(lang = "nl") Ik ben begonnen met programmeren net toen ik op de middelbare school kwam. Ik had al wat ervaring opgedaan met HTML en over de jaren heen heb ik CSS en Javascript geleerd. Met de basiskennis op zak ben ik begonnen met het ontdekken van de verschillende disciplines binnen de informatica: electronica, theoretische informatica, graphics en meer. Ik ben nu vooral bezig met programmeertalentheorie en met talen zoals Haskell en C++.
      img(src = "/images/macbook.png")
    article
      section
        h1(lang = "en") Curiosity
        p(lang = "en") I am currently doing my computer science bachelor, and I'd love to do a master after that. I am uncertain what I want to do later as a profession, but I'll have enough time to figure that out.
        p(lang = "en") There are also some projects I still want to do, like building my own 16-bit cpu and completing a fully functional language compiler.
        h1(lang = "nl") Nieuwsgierigheid
        p(lang = "nl") Ik ben op het moment bezig met mijn bachelor Informatica op de universiteit en ik wil daarna een master doen in hetzelfde vakgebied. Wat er daarna gebeurt weet ik nog niet, maar ik heb nog een jaar of 5 voordat ik dat hoef te beslissen.
        p(lang = "nl") In de tussentijd wil ik nog een aantal grote projecten doen, zoals het maken van een eigen 16-bit cpu en een volledig werkende programmeertaal.
      img(src = "/images/wires.png")
