main
  h1 Welcome to Jobbel.nl!
  p Good afternoon! My name is Job and I proudly present my portfolio. I am a curious programmer and aspiring computer scientist. My website shows my progress as a programmer, so if you are curious, check it out by making use of the buttons located down below this paragraph. (by the time you read this, a boat should start sailing from the right-hand side of the screen) 
  img(src = "/images/city.png")
