html
  head
    block head
      meta(charset = "UTF-8")
      meta(name = "description" content = "Jobbel.nl - My web portfolio as an aspiring computer scientist")
      meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
      meta(author = "Job Vonk")
      link(rel = "stylesheet" href = "css/main.css")
  body
    block content
    nav
      a(href = "/") Home
      a(href = "/about") About
      a(href = "/projects") Projects
