doctype html
html
  head
  body
    #transition
      span#transition-text
    main
    nav
      a(href = "/") Home
      a(href = "/about" lang = "en") About
      a(href = "/projects" lang = "en") Projects
      a(href = "/about" lang = "nl") Over mij
      a(href = "/projects" lang = "nl") Projecten
      img#locale(src = "/images/nl.png")
    script(src = "/js/locale.js")
    script(src = "/js/router.js")
