doctype html
html
  head
  body
    #transition
      span#transition-text
    main
    nav
      a(href = "/") Home
      a(href = "/about") About
      a(href = "/projects") Projects
    script(src = "/js/router.js")
