extends layout.pug

block head
  link(rel = "stylesheet" href = "/css/projects.css")

block scripts
  script(src = "/js/projects.js")

block content
  h1(lang = "en") My projects
  p(lang = "en") These are some of the things that I made. There are so many projects that you can scroll down to reveal more projects.
  h1(lang = "nl") Mijn projecten
  p(lang = "nl") Dit zijn een aantal van mijn projecten. Er zijn er zo veel zodat je naar beneden moet scrollen om alle projecten te kunnen zien.
  .list
