html
  overflow: hidden

main
  padding: 1rem
  display: grid
  grid-template-columns: 50% 50%

  section
    text-align: justify
    margin: auto
    width: 90%
    
  img.backdrop
    height: 100vh
    position: absolute
    right: 0
    top: 0

  img:not(.backdrop)
    height: calc(.08 * 100vh)
    width: calc(.11 * 100vh)
    position: absolute
    animation-name: sail
    animation-duration: 60s
    animation-iteration-count: infinite
    animation-timing-function: linear

@keyframes sail
  0%
    right: calc(-.11 * 100vh)
    top: 50vh
  25%
    right: 20vh //118px
    top: 45vh
  50%
    right: 48vh //285px
    top: 32vh
  60%
    right: 48vh //285px
    top: 20vh
  85%
    right: 41vh //240px
    top: calc(-.08 * 100vh)
  100%
    right: 41vh //240px
    top: calc(-.08 * 100vh)
