html
  overflow: hidden

main
  padding: 1rem
  display: grid
  grid-template-columns: 50% 50%

  section
    text-align: justify
    margin: auto
    width: 90%
    
  img.backdrop
    height: 100vh
    position: absolute
    right: 0
    top: 0

  img:not(.backdrop)
    height: 3rem
    width: 4rem
    position: absolute
    animation-name: sail
    animation-duration: 60s
    animation-iteration-count: infinite
    animation-timing-function: linear

@keyframes sail
  0%
    right: -4rem
    top: 50%
  25%
    right: 118px
    top: 45%
  50%
    right: 285px
    top: 32%
  60%
    right: 285px
    top: 20%
  85%
    right: 240px
    top: -4rem
  100%
    right: 240px
    top: -4rem
